# python
*.py[co]

# IDE
.idea/
.project/
*.iml

# Mac OS X junk
.AppleDouble
.DS_Store
Icon?
.Spotlight-V100
.Trashes

# Windows junk
ehthumbs.db
Thumbs.db
Desktop.ini

# build
build
debian/*.debhelper
debian/*.substvars
debian/files
debian/hh-ssl-cert-check
debian/pycompat
debian/python-module-stampdir/
dist/
hh_ssl_cert_check.egg-info/
.eggs/

#virtualenv
venv/

